body {
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.side-bar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: red;
    height: 72px;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    opacity: 0.7;
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1.25rem;
    margin-left: 1rem;
}

.nav-option:hover {
    opacity: 1;
}

.library {
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem;
}

.options {
    display: flex;
    /* padding-top: 0.5rem; */
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
}

.lab-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0 1.2rem 0;
    background-color: #232323;
    border-radius: 0.8rem;
    height: 8rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.75rem;
    opacity: 0.8;
}

.badge {
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 0.70rem;
    height: auto;
    font-weight: 700rem;
    width: fit-content;
    margin: 0.5rem;
    margin-left: 0px;
}

.dark-badge {
    background-color: black;
    color: white;
}

.sticky-nav {
    display: flex;
    position: sticky;
    top: 0;
    /* background-color: #232323; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem  0 1rem 0;
}

.sticky-nav-icons {
    margin-left: 0.75rem;
    /* height: 2rem;
    width: 2rem; */
}

.sticky-nav-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.sticky-nav-options .nav-item {
    margin-right: 1rem;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

/** album container**/
.card {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 0.5rem;
    width: 150px;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card img {
    width: 100%;
    border-radius: 0.5rem;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.5;
}